* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 90%;
    max-width: 1320px;
    margin-inline: auto;
}

.wrapper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-size: max(11px, min(20px, 1.4vw));
    color: rgba(76, 66, 68, 1);
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.nav__logo {
    max-width: 200px;
    min-width: 100px;
    width: 16.5vw;
}

.nav li:not(:last-child)::after {
    content: "";  
    position: relative;
    border-right: 2px solid;
    height: 22px;
    margin: 1em;
    padding: 0;
}

.wrapper-nav--mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .wrapper-nav--mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  

    .burger {
        margin-left: 13px;
    }

    .burger__line {
        width: 2rem;
        height: 3px;
        background-color: #4C4244;
    }

    .burger > :not(:last-child){
        margin-bottom: 10px;
    }

    .burger:hover {
        cursor: pointer;
    }

    .wrapper-nav {
        display: none;
    }

    .nav--mobile { 
        margin: 0;
        padding-top: 30px;
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        color: #4C4244;
        height: 100vh;
        width: 100%;
        transition: all 1s;
        left: 100%;
        line-height: 30px;
        top: 0;
    }

    #close {
        position: absolute;
        left: 80%;
        font-size: 40px;
    }
}

