* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    width: 80%;
    margin-inline: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    color: rgba(76, 66, 68, 1);
}

.img-log {
    width: 200px;
}

.header__nav li {
    border-right: 2px solid;
    color: rgba(76, 66, 68, 1);
    padding-right: 30px;
}

.big-block {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 30px;
}

.big-block__min-block {
    width: 400px;
    height: 600px;
    background-color: rgba(244, 236, 233, 1);
    border-radius: 20px;
}

.big-block__min-block_two {
    width: 400px;
    height: 600px;
    background-color: rgba(244, 236, 233, 1);
    border-radius: 20px;
}

.big-block__min-block_tree {
    width: 400px;
    height: 600px;
    background-color: rgba(244, 236, 233, 1);
    border-radius: 20px;
}

.img {
   width: 400px;
}

.heading {
  font-size: 32px;
}

.min-block__text {
    width: 320px;
    text-align: center;
    font-size: 24px;
    margin: auto;
    color: rgba(76, 66, 68, 1);
}

@media screen and (max-width: 768px) {
    .header {
      width: 1200px;
    }
}

@media screen and (max-width: 320px) {
    .header__nav {
       display: none;
    }
}

@media screen and (max-width: 768px) {
    .big-block {
        width: 992px;
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px) {
    .big-block {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .big-block__min-block_tree {
        display: none;
    }
}